.projects-section2 {
  text-align: center;
  background-color: #ffff;
  cursor: pointer;
  margin-top: 150px;
  margin-bottom: 50px;
  
}

.projects-section2 h2 {
  font-size: 40px;
  font-weight: 400;
  color: black;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

.swiper-slide:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.swiper-slide img {
  width: 100%;
  height: 250px; /* Set a fixed height for all images */
  object-fit: cover; /* Ensures the images cover the container without stretching */
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide:hover img {
  transform: scale(1.1);
}

.swiper-button-next,
.swiper-button-prev {
  color: #333;
  display: none;
}

.swiper-pagination-bullet {
  background: #333;
}

.swiper-pagination-bullet-active {
  background: #007bff;
}

.project-card {
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px; /* Ensure the card corners match image corners */
}

.project-card img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-card h3 {
  position: absolute;
  bottom: 0; /* Start at the bottom of the card */
  left: 0;
  width: 100%; /* Take full width of the card */
  padding: 15px;
  font-size: 1.2em;
  color: #fff;
  background-color: rgba(246, 18, 18, 0.7);
  display: flex;
  justify-content: space-between; /* This ensures the name and price are aligned */
  transform: translateY(100%); /* Initially hide the text off-screen */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Animate both opacity and position */
}

.project-card:hover h3 {
  opacity: 1; /* Make the text visible */
  transform: translateY(0); /* Slide the text from the bottom to its position */
}

.project-card .product-name {
  margin-right: 20px;
}

.project-card .product-price {
  margin-left: 20px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects-section h2 {
  animation: fadeInUp 1s ease-out;
}


